In [3]:
import pandas as pd

In [4]:
data = [1,2,3,4,5]

In [5]:
s = pd.Series(data)

In [6]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
index = ['Linha' + str(i) for i in range(5)]

In [8]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [9]:
s = pd.Series(data = data, index = index)

In [10]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [12]:
data = {'Linha' + str(i): i + 1 for i in range(5)}

In [13]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [15]:
s = pd.Series(data)

In [16]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [17]:
s1 = s+2

In [18]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [19]:
s2 = s + s1

In [20]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

In [25]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [26]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [27]:
df1 = pd.DataFrame(data= data)

In [28]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [30]:
index = ['Linha' +str(i) for i in range(3)]

In [31]:
index

['Linha0', 'Linha1', 'Linha2']

In [32]:
df1 = pd.DataFrame(data = data, index = index)

In [33]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [34]:
columns = ['Coluna' + str(i) for i in range(3)]

In [36]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [58]:
df1 = pd.DataFrame(data=data,index=index,columns = columns)

In [59]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [39]:
data = [(1,2,3),(4,5,6),(7,8,9)]

In [51]:
df2= pd.DataFrame(data= data, index = index, columns = columns)

In [52]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [60]:
df1[df1>0] = 'A'

In [64]:
df2[df2 > 0] = 'B'

TypeError: '>' not supported between instances of 'str' and 'int'

In [63]:
df2

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [62]:
df3 = pd.concat([df1,df2])

In [56]:
df3

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [65]:
df3 = pd.concat([df1,df2], axis = 1)

In [66]:
df3

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       A       A       A
Linha1       A       A       A       A       A       A
Linha2       A       A       A       A       A       A

In [67]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [68]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [69]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [70]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4