In [1]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [2]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

In [4]:
for tupla in carros:
    print(tupla[-1])

('Rodas de liga', 'Travas elétricas', 'Piloto automático')
('Central multimídia', 'Teto panorâmico', 'Freios ABS')

In [5]:
for tupla in carros:
    for item in tupla:
        print(item)

Jetta Variant
Motor 4.0 Turbo
2003
False
('Rodas de liga', 'Travas elétricas', 'Piloto automático')
Passat
Motor Diesel
1991
True
('Central multimídia', 'Teto panorâmico', 'Freios ABS')

In [6]:
nome, valor = ('Passat', 2000)

In [8]:
nome

'Passat'

In [9]:
valor

2000

In [10]:
nomes= ['Passat','Crossfox']
valores = [10000.0, 75000.0]
list(zip(nomes,valores))

[('Passat', 10000.0), ('Crossfox', 75000.0)]

In [16]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [17]:
for nome, km in zip(nomes, kms):
    if (km < 20000):
        print(nome)

Passat
Crossfox
C4

In [18]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [24]:
'acessorios' in dados['Crossfox']

False

In [21]:
'acessorios' in dados['Passat']

True

In [22]:
dados['Crossfox']['valor']

25000

In [23]:
dados['Passat']['acessorios'][-1]

'ABS'

In [25]:
dados = {'Jetta': 88000, 'Crossfox': 72000, 'DS5': 124000}

In [26]:
dados.update({'Passat': 45000,'Fusca': 150000})

In [27]:
dados

{'Jetta': 88000,
 'Crossfox': 72000,
 'DS5': 124000,
 'Passat': 45000,
 'Fusca': 150000}

In [28]:
dados.update(Passat = 45000, Fusca = 150000)

In [29]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [44]:
for item in dados.items():
    print(item[1])

{'valor': 72000, 'ano': 2005}
{'valor': 125000, 'ano': 2015}
{'valor': 150000, 'ano': 1976}
{'valor': 88000, 'ano': 2010}
{'valor': 106000, 'ano': 1998}

IMPRIMA OS CARROS COM OS ANOS IGUAL OU MAIOR QUE 2000

In [40]:
for item in dados.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

IMPRIMA OS CARROS COM OS VALORES IGUAIS OU MAIORES QUE 100 MIL REAIS

In [45]:
for item in dados.items():
    if(item[1]['valor']>= 100000):
        print(item[0])

DS5
Fusca
Passat

FORME UMA LISTA COM OS CARROS COM VALORES IGUAIS OU MAIORES QUE 100 MIL REAIS

In [51]:
carros_100mil = []
for item in dados.items():
    if(item[1]['valor']>= 100000):
        carros_100mil.append(item[0])
carros_100mil

['DS5', 'Fusca', 'Passat']

In [ ]:
lanches_lachonete = {'Coxinha': 7.25, 'Suco': 5.00, 'Esfirra': 8.00, ''}

In [26]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [27]:
def km_media(dados, ano_atual):
    result = {}
    for item in dados.items():
        media = item[1]['km']/ (ano_atual - item[1]['ano'])
        result.update({item, media})
        return result

In [28]:
km_media(dados, 2022)

TypeError: unhashable type: 'dict'

In [30]:
dados = {'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [ ]:
dataset = pd.DataFrame()